body {
    background-image: url(https://img.wallpapersafari.com/desktop/1024/576/93/53/LgZuYn.jpg);
    background-repeat: repeat-x;
    background-position-y: 100px;
}

.mainbox {
    background-color: rgba(0, 0, 0, 0.623);
    width: 50%;
    align-items: center;
    margin-left: 25%;
    margin-top: 10%;
}

.h2 {
    padding-left: 10px;
    padding-bottom: 0;
    color: white;
}

.h3 {
    width: 100%;
    padding: 20px 20px 0px 20px;
    color: white;

}

.container {
    padding-top: 5px;
    color: white;
    
}

.inp{
    padding: 5px 0 5px 5px;
    margin-left: 5px;
    background-color: #0000002f;
    border: none;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: white;

}

.button{
    color: white;
    background-color: black;
    border: black 2px solid;
    border-radius: 7px;
    width: 98%;
    margin-left: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    
}